{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="inscription">
    <h1>Будущее ИТ: технологии меняют жизнь, жизнь меняет технологии</h1>
    <p>Развитие ИТ изменило жизнь на всех уровнях — от государственного и частного управления, до образовательных и
        административных программ. Заказ товаров и услуг, просмотр новостей, финансовые операции, транспорт, связь,
        развлечения и многое другое — стали доступны большинству из нас за несколько кликов. А ведь в настоящий момент
        реализована лишь мала часть потенциала ИТ-технологий.</p>
</div>
{% endblock %}